$black: (
  100: hsl(0, 0%, 13%),
  300: hsl(0, 0%, 28%),
  400: hsl(0, 0%, 34%),
  500: hsl(0, 0%, 47%),
);

$white: (
  100: hsl(0, 0%, 100%),
  200: hsl(0, 0%, 96%),
  150: hsl(0, 0%, 91%),
  300: hsl(0, 0%, 58%),
);

$blue: (
  200: hsl(218, 10%, 21%),
  300: hsl(218, 10%, 30%),
);

$orange: (
  300: hsl(26, 100%, 31%),
  400: hsl(26, 100%, 41%),
  500: hsl(26, 100%, 51%),
);

$red: (
  400: hsl(354, 70%, 44%),
  500: hsl(354, 70%, 54%),
);
